.yellowText {
    background-color: $yellow;
    padding: 0 5px;
}
.detail {
    margin: 10px;
    font-size: 17px;
    font-weight: 700;
    color: $light-blue;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: Source Sans Pro,helvetica,arial,sans-serif;
    cursor: pointer;

    &::after {
        content: "\00203A";
        display: inline-block;
        padding-left: 7px;
    }
}

.form_error {
    color: $red;
}
.main-block-try-free {
    position: relative;
    top: 50px;
    margin-bottom: 100px;
    .main-image {
        background-image: url("../images/img-main.png");
        display: block;
        width: 820px;
        height: 722px;
        background-repeat: no-repeat;
        z-index: 100;
    }

    .inform-block {
        position: absolute;
        top: 160px;
        
        .txt-rotate {
            background-color: $yellow;
            padding: 0 10px;
        }

        p {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 60px;
        }

        .more-leads {
            font-weight: bold;
            font-size: 60px;
        }

        .try-free-email {
            position: absolute;
            right: -15px;
            max-width: 560px;
            input {
                height: 60px;
                width: 255px;
                font-size: 18px;
                padding: 0 15px;
                transition: border-color .2s ease-in-out;
                color: $light-grey;
                border: 1px solid $light-grey;
                border-radius: 5px;
                outline: none;
            }

            button {
                border: none;
                border-radius: 20px;
                color: white;
                background-color: $light-blue;
                text-transform: uppercase;
                height: 60px;
                padding: 18px 25px;
                margin-left: -40px;
                letter-spacing: 3px;
                font-weight: bold;
                font-size: 17px;
                outline: none;
            }
        }
    }
    .features {
        position: absolute;
        bottom: 60px;
        display: flex;

        .row-features {
            .features-part {
                display: flex;
                align-items: center;
                width: 300px;
                .icons {
                    zoom: 2;
                    color: $light-blue;
                }
                .value-icon {
                    margin-left: 10px;
                    letter-spacing: 2px;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }
}

.trusted-us-company {
    .trusted-us {
        width: 100%;
        text-transform: uppercase;
        color: #7990a1;
        font-size: 16px;
        margin-left: 15px;
        letter-spacing: .12em;
    }

    .trusted-company {
        display: flex;
        width: 100%;
        justify-content: space-between;

        img {
            display: block;
            width: 60px;
            margin: 20px;
        }
    }
}

.solutions {
    .needs {
        .engaging {
            display: flex;

            .engaging-icon {
                i {
                    zoom: 2.5;
                    color: $light-blue;
                }
            }

            .engaging-text {
                margin-left: 30px;
                margin-bottom: 80px;

                h3 {
                    font-weight: bold;
                    letter-spacing: .04em;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 18px;
                    line-height: 1.56;
                    letter-spacing: .02em;
                    margin-bottom: 20px;
                }

                a {
                    display: block;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    font-family: Source Sans Pro,helvetica,arial,sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color: $light-blue;
                }

                small {
                    display: block;
                    font-family: Source Sans Pro,helvetica,arial,sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    padding-top: 32px;
                    letter-spacing: .035em;
                }
            }
        }
    }
}

.tools {
    .people {
        h3 {
            font-weight: bold;
            margin-bottom: 25px;
            margin-top: 20px;
            letter-spacing: normal;
        }

        p {
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: .02em;
            margin-bottom: 20px;
        }

        a {
            display: block;
            text-transform: uppercase;
            letter-spacing: .1em;
            font-family: Source Sans Pro,helvetica,arial,sans-serif;
            font-size: 18px;
            font-weight: 700;
            color: $light-blue;
        }

        .sublist {
            margin-top: 25px;
            
            .value-icon {
                margin-left: 10px;
                font-size: 14px;
                font-weight: bold;
            }
        }
        .people-image {
            position: relative;
            background-color: $light-blue;
            height: 155px;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -57%);
            }
        }
    }
}

.black-bg{
    padding: 120px 0 200px;
    background-color: $black;
    position: relative;
    h2 {
        color: $white;
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin-bottom: 60px;
        span {
            color: $black;
        }
    }
    .smsClub-tools {
        display: flex;
    
        .smsClub-tools-icon {
            i {
                zoom: 2.5;
                color: $light-blue;
            }
        }
    
        .smsClub-tools-text {
            margin-left: 30px;
            margin-bottom: 80px;
            color: $white;
    
            h3 {
                font-weight: bold;
                font-size: 20px;
                letter-spacing: .04em;
                margin-bottom: 5;
                color: $white;
            }
        }
    }
}
.developing-you-business {
    width: 65%;
    background-color: $light-blue;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40%);

    .lets-start {
        display: flex;
        align-items: center;
        padding: 60px 50px;
        h2 {
            margin: 0;
            width: 40%;
            text-align: start;
            color: $white;
            font-weight: 700;
            letter-spacing: .02em;
        }

        form {
            display: flex;

            input {
                padding: 10px 50px 10px 14px;
                border-radius: 5px;
                border: none;
                margin: 0 25px;
            }

            button {
                padding: 10px 30px;
                text-transform: uppercase;
                border-radius: 25px;
                background-color: $yellow;
                color: $black;
                border: none;
                font-weight: bold;
                font-size: 18px;
                letter-spacing: .1em;
            }

        }
    }

}

.useful-resources {
    margin-top: 800px;

    .all-opprtunity {
        margin: 50px auto;

        .all-posibility {
            border: 1px solid $light-blue;
            background-color: $light-blue;
            color: $white;
            font-size: 18px;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: bold;
            padding: 15px 40px 16px;
            border-radius: 30px;
            outline: none;

            &:hover {
                background-color: $white;
                color: $light-blue;
                border: 1px solid $light-blue;
                // padding: 0 10px;
            }
        }
    }

    .useful-res {
        width: 100%;
        text-align: center;
        margin-bottom: 70px;
        font-size: 30px;
        letter-spacing: .035em;
        font-family: Source Sans Pro,helvetica,arial,sans-serif;
        font-weight: bold;
    }

    .how-promote {
        display: flex;
        padding: 20px 20px 40px 20px;
        border: 1px solid lightgrey;
        border-radius: 5px;

        .promote-image {
            margin: 20px;
        }

        .steps-for-promote {
            h3 {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 32px;
                margin-top: 20px;
                letter-spacing: .02em;
            }
            p {
                display: flex;
                .download {
                    margin: 10px;
                    font-size: 17px;
                    font-weight: 700;
                    color: $light-blue;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    font-family: Source Sans Pro,helvetica,arial,sans-serif;
                    cursor: pointer;

                    &::after {
                        content: "\00203A";
                        display: inline-block;
                        padding-left: 7px;
                    }
                }
            }
            .book-icon {
                border-radius: 50%;
                // background-color: $light-blue;
                background-image: linear-gradient(0deg,#a1c4fd,#c2e9fb);
                padding: 5px;
                color: white;
                zoom: 1.2;
                width: 35px;
                height: 35px;
                display: block;
                padding: 5px 2px 2px 10px;
            }
        }

    }
    .add-followers, .email-strategy, .marketing-for-new, .how-create-landing {
        padding: 20px 20px 16px 20px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        h3 {
            line-height: 1.2;
            margin-bottom: 22px;
            color: #1f262f;
            font-family: Roboto,helvetica,arial,sans-serif;
            font-weight: 700;
            font-size: 18px;
            margin-top: 20px;
        }
        p {
            display: flex;
            margin-top: 40px;
            .detail {
                margin: 10px;
                font-size: 17px;
                font-weight: 700;
                color: $light-blue;
                text-transform: uppercase;
                letter-spacing: .1em;
                font-family: Source Sans Pro,helvetica,arial,sans-serif;
                cursor: pointer;

                &::after {
                    content: "\00203A";
                    display: inline-block;
                    padding-left: 7px;
                }
            }
            
            .useful-resources-icon {
                border-radius: 50%;
                // background-color: $light-blue;
                background-image: linear-gradient(0deg,#a1c4fd,#c2e9fb);
                padding: 5px;
                color: white;
                zoom: 1.2;
                width: 35px;
                height: 35px;
                display: block;
                padding: 5px 2px 2px 9px;
            }
        }
    }
    .email-strategy, .how-create-landing {
        margin: 10px 0;
    }
}

.support {
    padding-top: 120px;
    .support-block {
        h2 {
            padding-top: 56px;
            margin-bottom: 22px;
            font-size: 35px;
            letter-spacing: .035em;
            font-weight: bold;
        }
        p {
            font-size: 18px;
            color: $black;
            margin-bottom: 0;
            letter-spacing: .025em;
        }
        ul {
            list-style: none;
            padding: 0;
            margin-bottom: 36px;

            li {
                font-family: Roboto,helvetica,arial,sans-serif;
                position: relative;
                padding-left: 30px;
                line-height: 1.45;
                &::before {
                    content: "";
                    background: url(../images/check.svg) 50% no-repeat;
                    background-size: contain;
                    width: 15px;
                    height: 11px;
                    position: absolute;
                    top: 9px;
                    left: 0;
                }
            }
        }

        .all-day {
            font-family: Source Sans Pro,helvetica,arial,sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.5;
            color: $black;
            letter-spacing: .05em;
            margin-bottom: 28px;
            width: 300px;
            text-transform: uppercase;

        }

        .write-in-chat {
            color: $light-blue;
            text-transform: uppercase;
            letter-spacing: .1em;
            font-family: Source Sans Pro,helvetica,arial,sans-serif;
            font-size: 18px;
            font-weight: 700;
            &::after {
                content: "\00203A";
                display: inline-block;
                padding-left: 7px;
            }
        }

        .chat-image {
            background-image: url("../images/chat.png");
            display: block;
            width: 750px;
            height: 420px;
            background-repeat: no-repeat;
            z-index: 100;
            position: absolute;
            left: -200px;
        }
    }
}

.gdpr {
    .gdpr-block {
        h2 {
            font-size: 2rem;
            margin-bottom: 30px;
            font-weight: bold;
        }
        p {
            font-size: 18px;
            margin-bottom: 40px;
        }

        .gdpr-image {
            background-image: url("../images/gdpr.png");
            display: block;
            // width: 750px;
            height: 360px;
            background-repeat: no-repeat;
            z-index: 100;
            // position: absolute;
            // left: -200px;
        }

        ul {
            max-width: 580px;
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 20px;
            list-style-type: none;
            padding: 0;

            li {
                font-family: Roboto,helvetica,arial,sans-serif;
                position: relative;
                padding-left: 30px;
                line-height: 1.45;
                flex: 0 0 50%;
                margin-bottom: 15px;
                font-weight: bold;
                &::before {
                    content: "";
                    background: url(../images/check.svg) 50% no-repeat;
                    background-size: contain;
                    width: 15px;
                    height: 11px;
                    position: absolute;
                    top: 9px;
                    left: 0;
                }
            }
        }
    }
}

.develop-business {
    padding-bottom: 90px;
    .develop-business-block {
        .developing-you-business {
            width: 100%;
            position: relative;
        }
    }
}

@media screen and (min-width: 768px) {
    .solutions, .tools{
        padding: 130px 0 30px;
        h2 {
            text-align: center;
            width: 100%;
            font-weight: bold;
            margin-bottom: 80px;

        }
    }

    .gdpr {
        padding: 150px 0 25px;

        p {
            letter-spacing: .025em;
            max-width: 530px;
        }
    }
}

@media (max-width: 500px) {
    .main-block-try-free {
        top: 0;
        min-height: 750px;
        
        .hidden-sm-manual {
            display: none;
        }

        .inform-block {
            text-align: center;

            .more-leads {
                font-size: 40px;
            }

            p {
                font-family: source-sans-basic,Source Sans Pro,helvetica,arial,sans-serif;
                margin-bottom: 10px;
            }

            .try-free-email {
                text-align: left;
                right: 0;
                .send-email {
                    margin: 30px 0;
                    width: 340px;
                }
                .try-free-email-btn {
                    margin-left: 0;
                }
            }
        }

        .sm-image {
            background-image: url("../images/top_v3_sm.png");
            display: block;
            height: 350px;
            background-repeat: no-repeat;
            z-index: 100;
            margin-top: 520px;
        }
        .features-sm {
            position: initial;
            display: block;
            margin-left: 10px;
        }
    }

    .trusted-us-company {
        width: 350px;
        margin: 0 auto;
        .trusted-company {
            display: inline-block;
            columns: 2;
        }
    }

    .solutions {
        h2 {
            text-align: center;
            margin: 50px 0;
        }
        .needs {
            .engaging {
                display: block;

                .engaging-icon {
                    margin-bottom: 20px;
                }
                .engaging-text {
                    margin-left: 0;
                }
            }
        } 
    } 
}