.slider {
    width: 100%;
    position: relative;
    padding-top: 150px;

    .main-block-slider {
        position: absolute;
        top: 50%;
        left: 47%;
        transform: translate(-50%, 20%);
    }
    
    h3, p {
        width: 100%;
        text-align: center;
    }
    h3 {
        font-size: 30px;
        font-weight: bold;

    }

    // .slider-padding {
    //     padding-left: 40px;
    // }
    
    .slider-block {
        width: 40em;
        height: 25em;
        margin: 40px auto;
        
        li {
            width: 645px;
            height: 380px;
            background: $white;
            display: inline-block;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            overflow: hidden;

            .slider-image {
                margin: auto;
            }
            .slider-content {
                margin: auto;
                text-align: left;
                width: 350px;

                h3, p {
                    color: $black;
                    text-align: left;
                    width: 288px;

                }
                p {
                    font-size: 16px;
                    margin-bottom: 14px;
                    line-height: 1.35;
                    font-weight: 500;
                    letter-spacing: .025em;
                }
                h3 {
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 20px;
                    letter-spacing: .02em;
                    line-height: 1.2;
                }

                small {
                    display: grid;
                    span {
                        color: lightgray;
                    }
                }
            }
    
        }
        
        .items {
            position: absolute;
            display: flex;
            box-shadow: 0 0 37px 5px lightgray;
            border-radius: 6px;
    
        }
        .main-pos {
            margin-left: 2em !important;
            z-index: 3000;
            /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
        }
    
        .left-pos {
            opacity: .3;
            margin-left: -38em !important;
            z-index: 1000;
            -webkit-transform: scale(.85);
            -moz-transform: scale(.85);
            transform: scale(.85);
          }
          
          .back-pos {
            margin-left: 2em !important;
            opacity: .05;
            -webkit-transform: scale(.5);
            -moz-transform: scale(.5);
            transform: scale(.5);
          }
          
          .right-pos {
            opacity: .3;
            margin-left:  42em !important;
            z-index: 1000;
            -webkit-transform: scale(.85);
            -moz-transform: scale(.85);
            transform: scale(.85);
          }
          .arrow{
            width: 20px;
            height: 20px;
            position:absolute;
            bottom: 40%;
            z-index: 99999;
            border-top:3px solid $light-blue;
            border-right:3px solid $light-blue;
            cursor:pointer;
            transition:border-color 0.3s ease-out;
          }
          
          .arrow:hover{border-color:#93278f}
          
          .arrow-left{
            left: 185px;
            transform:rotate(225deg);
          }
          
          .arrow-right{
            right: 115px;
            transform:rotate(45deg);
          }
        // span {
        //     position: relative;
        //     margin: 0 auto;
        //     left: 17em;
        //     top: 20em;
        // }
    }
}

@media (max-width: 500px) {
    .slider {
        .main-block-slider {
            width: 100%;
            left: 53%;
            h3, p {
                width: 90%;
                text-align: center;
                margin: 0 auto;
            }

            .slider-block {
                .items {
                    display: block;
                    text-align: center;
                }
                .right-pos, .left-pos, .back-pos {
                    display: none;
                }

                li {
                    width: 85%;
                    height: 440px;

                    .slider-content {
                        width: auto;
                        small {
                            padding-left: 20px;
                        }
                    }
                }

                .arrow-right {
                    right: 7px;
                    bottom: 215px;
                }
                .arrow-left {
                    left: 15px;
                    bottom: 215px;
                }
            }
        }
    }
}